[Unit]
Description=concore service

[Service]
User=__USERNAME__
WorkingDirectory=__INSTALL_DIR__
ExecStart=/bin/bash -c "cd __INSTALL_DIR__/fri/server && python3 main.py"
Restart=always

[Install]
WantedBy=multi-user.target
